/* Write your code here: */
h1 , h2{
    color: blueviolet;
}

div.box > p.done{
    color: firebrick;
}

ul.list > li.done{
    color: green;
}
ul.list > li{
    color: blue;
}
ul > p{
    font-size: 0.5rem;
    color: black;
}