/* Write your code here: */
h1{
    color: blueviolet;
}
h2{
    color: blueviolet;
}
p.done{
    color: firebrick;
}
ul.list li.done{
    color: green;
}
li{
    color: blue;
}
ul p.done{
    font-size: 0.5rem;
    color: black;
}